.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgba(45, 46, 46, 0.6);
  z-index: 1000; 
  padding: 10px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.fixed-header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
 
.fixed-header nav ul li a {
  color: rgb(221, 219, 219);
  text-decoration: none;
}
  
body {
  margin: 0;
  padding: 0;
  padding-top: 70px;
}

.nav-link:hover {
  color: antiquewhite;
}


/*Menu burger */

.custom-toggler {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
}

.custom-toggler span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease-in-out;
}

.navbar-toggler.collapsed .custom-toggler span:nth-child(1) {
  transform: translateY(0) rotate(0);
}

.navbar-toggler.collapsed .custom-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler.collapsed .custom-toggler span:nth-child(3) {
  transform: translateY(0) rotate(0);
}

.navbar-toggler .custom-toggler span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.navbar-toggler .custom-toggler span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler .custom-toggler span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}